{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="container mt-4">
    {% include 'partials/_messages.html' %} 
  <div class="row">
    <div class="col-md-8">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Portefeuille</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            My Portefeuille
          </li>
        </ol>
      </nav>
    </div>
    <div class="col-md-4">
      <!-- Exemple de modèle d'un bouton qui déclenchera la fenêtre pop-up -->
        <button class ="btn btn-block btn-primary" id="confirmationButton">Netoyer portefeuille</button>

    </div>

  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <!-- Utilisez la classe "card" pour styliser chaque liste comme une carte -->
        <div class="card mb-4">
            <div class="card-header">
              <div class="row">
                <div class="col-md-10">
                  <h2>TOTAL</h2>
                </div>
                <div class="col-md-2">
                  <h3>{{total|floatformat:2 }} {{currency}}</h3>
                </div>
              </div>
            </div>
          </div>
      {% for groupe, objects in actifs.items %}
        <div class="col-md-12">
            <!-- Utilisez la classe "card" pour styliser chaque liste comme une carte -->
            <div class="card mb-4">
                <div class="card-header">
                  <div class="row">
                    <div class="col-md-10">
                      <h2>{{ groupe }}</h2>
                    </div>
                    <div class="col-md-2">
                      <h3>{{objects.somme|floatformat:2 }} {{currency}}</h3>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <table class="table table-stripped table-hover">
                    <thead>
                      <tr>
                        <th>Token</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Unit price ({{currency}})</th>
                        <th>Value ({{currency}})</th>
                        <th></th>
                      </tr>
                    </thead>
            
                    <tbody>
                      {% for tok in objects.object%}
                      <tr>
                        <td>{{tok.token}}</td>
                        <td>{{tok.description}}</td>
                        <td>{{tok.amount|floatformat:2 }}</td>
                        <td>{{tok.unit_price|floatformat:4 }}</td>
                        <td>{{tok.value|floatformat:2 }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
 </div>
</div>

<script src="{% static 'js/searchTransactions.js' %}"></script>

<script>
  document.getElementById("confirmationButton").addEventListener("click", function() {
      if (confirm("Êtes-vous sûr de vouloir effectuer cette action ?")) {
          // Si l'utilisateur clique sur "OK" dans la fenêtre pop-up, effectuez l'action ici
          // Par exemple, vous pouvez envoyer une requête AJAX pour supprimer l'élément ou effectuer toute autre action.
          // Remplacez l'URL et la méthode par celles correspondant à votre vue Django.
          fetch('', {
              method: 'POST',
              // Ajoutez les en-têtes CSRF si nécessaire pour la protection contre les attaques CSRF.
              headers: {
                  'X-CSRFToken': '{{ csrf_token }}'
              }
          })
          .then(response => {
              // Traitez la réponse si nécessaire
          })
          .catch(error => {
              // Traitez l'erreur si nécessaire
          });
          window.location.reload();
      } else {
          // Si l'utilisateur clique sur "Annuler", ne faites rien
      }
  });
</script>



{% endblock content %}