{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="container mt-4">
    {% include 'partials/_messages.html' %} 
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Portefeuille</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            My Portefeuille
          </li>
        </ol>
      </nav>
    </div>

  </div>

  <div class="container">
    

    <div class="row">

      <div class="col-md-4">

        <div class="form-group">
          <input type="text" class="form-control" id="searchField" placeholder="Search">
        </div>
      </div>
    </div>
    <div class="app-table">

      <table class="table table-stripped table-hover">
        <thead>
          <tr>
            <th>Token</th>
            <th>Actif</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Unit price</th>
            <th>Value ({{currency}})</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {% for token_ in page_obj%}
          <tr>
            <td>{{token_.token}}</td>
            <td>{{token_.type_actif}}</td>
            <td>{{token_.description}}</td>
            <td>{{token_.amount}}</td>
            <td>-----</td>
            <td>-----</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>

    <p class="no-results" style="display: none;">No results </p>
        <div class="table-output">


          <table class="table table-stripped table-hover">
            <thead>
              <tr>
                <th>Token</th>
                <th>Actif</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Unit price</th>
                <th>Value ({{currency}})</th>
                <th></th>
              </tr>
            </thead>

            <tbody  class="table-body">


            </tbody>
          </table>
        </div>



        {% if portefeuille.count %}
        <div class="pagination-container">
        <div class="">
          Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
        </div>
        <ul class="pagination align-right float-right mr-auto">
          {% if page_obj.has_previous %}
          <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
          <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
          {% endif %}

          {% if page_obj.has_next %}
          <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
          <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
          {% endif %}


          </ul>
        {% endif %}
      </div>
</div>
</div>

<script src="{% static 'js/searchTransactions.js' %}"></script>




</script>



{% endblock content %}