{% extends 'base.html' %} {% block content %}

<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'transactions'%}">Transactions</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Add Transaction
      </li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <h1>Transaction : {{ type_transacs }}</h1>

      <form
        action="{% url 'add-transaction' type_transacs %}"
        method="post"
      >
        {% include 'partials/_messages.html'%} {% csrf_token %}
        {% for element in form_data %} 
            {% if element.type in standard_form %}
                <div class="form-group">
                  <label for="">{{element.label}}</label>
                  {% with field_name=element.name %}
                    <input
                      type="{{element.type}}"
                      step='0.0000001'
                      class="form-control form-control-sm"
                      name="{{element.name}}"
                      value="{{values.field_name}}"
                    />
                  {% endwith %}

                </div>
            {% endif %} 
            {% if element.type == "select" %}
              <div class="form-group">
                <label for="">{{element.label}}</label>
                <select class="form-control" name="{{element.name}}">
                  <option disabled selected value>-- select an option --</option>
                  {% for actif in type_actifs%}
                  <option name="{{element.name}}" value="{{actif.name}}">
                    {{actif.name}}
                  </option>
                  {% endfor %}
                </select>
              </div>
            {% endif %} {% endfor %}
       
        <input
          type="submit"
          value="Submit"
          class="btn btn-primary btn-primary-sm"
        />
      </form>
    </div>
  </div>
</div>

{% endblock %}
