{% extends 'base.html' %} {% block content %}

<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'transactions'%}">Transaction</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Edit Transaction
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a
        href="{% url 'delete-transaction' transaction.id %}"
        class="btn btn-danger btn-sm"
        >Delete</a
      >
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <form action="{% url 'edit-transaction' transaction.id %}" method="post">
        {% include 'partials/_messages.html'%} {% csrf_token %}
        <div class="form-group">
          <label for="">Token1</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="token1"
            value="{{values.token1}}"
          />
        </div>
        <div class="form-group">
          <label for="">Type actif 1</label>
          <select class="form-control" name="type_actif1">
            {% for actif in type_actifs%}
            <option name="type_actif1" value="{{actif.name}}"
              >{{actif.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="">Description 1</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="description1"
            value="{{values.description1}}"
          />
        <div class="form-group">
          <label for="">Amount</label>
          <input
            type="number"
            step="0.0001"
            class="form-control form-control-sm"
            name="amount1"
            value="{{values.amount1}}"
          />
        </div>
        <div class="form-group">
          <label for="">Token2</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="token2"
            value="{{values.token2}}"
          />
        </div>
        <div class="form-group">
          <label for="">Type actif 2</label>
          <select class="form-control" name="type_actif2">
            {% for actif in type_actifs%}
            <option name="type_actif2" value="{{actif.name}}"
              >{{actif.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="">Description 2</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="description2"
            value="{{values.description2}}"
          />
        <div class="form-group">
          <label for="">Amount</label>
          <input
            type="number"
            step="0.0001"
            class="form-control form-control-sm"
            name="amount2"
            value="{{values.amount2}}"
          />
        </div>
        <div class="form-group">
          <label for="">Date of Transaction</label>
          <input
            type="date"
            value="{{values.date |date:'Y-m-d' }}"
            class="form-control form-control-sm"
            name="transaction_date"
          />
        </div>

        <input
          type="submit"
          value="Save"
          class="btn btn-primary btn-primary-sm"
        />
      </form>
    </div>
  </div>
</div>

{% endblock %}